<header>
  <a href="/">
    <img src="/images/logo.jpeg" alt="Logo" class="logo">
    <h2>Dj Larkiboy Ljud Och Ljus - <%= title %></h2>
  </a>
  

  <nav>
    <ul>
      <li><a href="/equipment">Equipment</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <% if(user) { %>
        <li><a href="/account">My account</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/register">Register</a></li>
      <% } %>
    </ul>
  </nav>
</header>
