<header>
  <a class="logo-container" href="/">
    <img src="/img/logo.png" />
    <h1><%= title %> - DjLarkiboyLjudochLjus</h1>
  </a>

  <nav>
    <ul>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
