<form class="err-container" action="/contact/error" method="post">
  <h1>Something went wrong</h1>
  <p>An error occurred: <span id="err"><%= err %></span></p>
  <input type="hidden" name="err" id="err-input" value="<%= err %>" />
  <p>
    If&nbsp;you&nbsp;want&nbsp;to&nbsp;notice&nbsp;us&nbsp;about&nbsp;this&nbsp;error,&nbsp;click&nbsp;<button
      type="submit"
      class="a"
    >
      here
    </button>
  </p>
  <button type="button" id="go-back-btn">Go back</button>
</form>

<script nonce="<%= nonce %>">
  document.getElementById("go-back-btn").addEventListener("click", () => {
    window.history.back();
  });

  function decodeHTML(html) {
    const doc = new DOMParser().parseFromString(html, "text/html");
    return doc.documentElement.textContent;
  }

  document.querySelector("#err").textContent = decodeHTML(
    document.querySelector("#err").textContent
  );
</script>
