<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <script>
    function redirectAfterDelay (delay, href) {
      setTimeout(function() {
        window.location.href = href
      }, delay);
    }

    window.onload = function () {
      redirectAfterDelay(10000, '/')
    }
  </script>
  <style>
    body {
      padding: 40px;
      font-size: 300%;
    }
  </style>
</head>
<body>
  <h1>An error occured unexpectedly</h1>
  <p>You will be redicted in a second...</p>
</body>
</html>