<div class="container home">
  <div>
    <h1 class="home">Welcome to DjLarkiboyLjudochLjus</h1>
    <p>Your one-stop solution for sound and light equipment rentals.</p>
  </div>

  <section>
    <h2 class="home">Our Services</h2>
    <p>
      Explore our range of equipment and services to make your event
      unforgettable.
    </p>
    <a href="/browse" class="btn">Browse Equipment</a>
  </section>
</div>
