<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dj Larkiboy Ljud Och Ljus - Home</title>
    <noscript>
      <h1 style="
          margin: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        ">
        You need to enable javascript for this website to work.
      </h1>
    </noscript>
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <section class="hero">
        <h1>Welcome to Dj Larkiboy Ljud Och Ljus</h1>
        <p>Your one-stop soulution for professional sound and lighing equipment hire.</p>
        <a href="/equipment" class="cta-button">View Equipment</a>
      </section>
    </main>
    <%- include ('partials/footer') %>
  </body>
</html>