<h1>Thank you for reaching out to us. We will contact you soon</h1>

<script>
  window.onload = function () {
    setTimeout(function redictAfterDelay() {
        window.location.href = '/';
    }, 3000);
  };
</script>