<form action="/auth/login/password" method="get">
  <div class="form-part">
    <label for="email"><%= __("email") %>:</label>
    <input type="email" id="email" required />
  </div>

  <input type="hidden" name="n" id="n" value="<%= n %>" />
  <button type="submit"><%= __("next") %></button>
</form>

<script nonce="<%= nonce %>">
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const emailInput = document.getElementById("email");

    form.addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent the default form submission

      const email = emailInput.value.trim();

      sessionStorage.setItem("email", email); // Store the email in session storage

      form.submit();
    });

    const email = sessionStorage.getItem("email");
    if (email) {
      emailInput.value = email; // Pre-fill the email input if available
    }
  });
</script>
